body > div {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* TITLE */
h1 .rainbow {
  font-size: 3.75rem;
}

.description {
  width: 60vw;
  text-align: center;
}

@media only screen and (max-width: 1250px) {
  .description {
    width: 95vw;
  }
}

/* LOGOS */

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#logo-msft,
#logo-openai {
  height: 6rem;
}

#logo-td {
  border-radius: 1em;
  height: 5.5rem;
}

/* EXERCISE BUTTONS */
.exercise-btns-title {
  font-size: 1.1em;
}

.exercise-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 800px) {
  .exercise-btns {
    grid-template-columns: repeat(2, 1fr);
  }
}

.exercise-btns a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-btns > a > div {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  cursor: pointer;
  background-color: #9a9a9a;
  opacity: 0.5;
}

.exercise-btns > a > div.pending,
.exercise-btns > a > div.success {
  height: 7rem;
  width: 7rem;
  opacity: 1;
  border: 3px solid;
}

.exercise-btns > a > div.pending {
  background-color: transparent;
  margin-right: 7px;
}

.exercise-btns > a > div.success {
  color: black;
}

#exercise-1.pending {
  border-color: #f25022;
}

#exercise-1.success {
  border-color: #f25022;
  background-color: #f25022;
}

#exercise-2.pending {
  border-color: #7fba00;
}

#exercise-2.success {
  border-color: #7fba00;
  background-color: #7fba00;
}

#exercise-3.pending {
  border-color: #00a4ef;
}

#exercise-3.success {
  border-color: #00a4ef;
  background-color: #00a4ef;
}

#exercise-4.pending {
  border-color: #ffb900;
}

#exercise-4.success {
  border-color: #ffb900;
  background-color: #ffb900;
}

.disabled {
  pointer-events: none;
}
