body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

h2 span {
  color: #f25022;
  font-size: 2.25rem;
}

/* CHAT BOX */

#chat-box {
  border: 3px solid #f25022;
  height: 55vh;
  width: 55vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#chat-box > div:nth-child(1) {
  flex: 7;
  position: relative;
  overflow-y: auto;
}

#chat-box > div:nth-child(1) > div {
  color: white;
  padding: 2rem;
  font-size: 1rem;
}

#openai-chat-logo {
  filter: brightness(0) saturate(100%) invert(60%) sepia(95%) saturate(5489%)
    hue-rotate(350deg) brightness(98%) contrast(93%);
}

#chat-box > div:nth-child(2) {
  border-top: 3px solid #f25022;
  flex: 1;
  display: flex;
  align-items: center;
}

#chat-box > div:nth-child(2) > input {
  color: white;
  font-size: 1.25rem;
  height: 100%;
  flex: 7;
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  outline: none;
}

#chat-box > div:nth-child(2) > input:disabled {
  color: gray;
}

#chat-box > div:nth-child(2) > div {
  background-color: #f25022;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
}

#chat-box > div:nth-child(2) > div:hover {
  background-color: #d84c25;
  cursor: pointer;
}

#chat-box > div:nth-child(2) > div > img {
  height: 50%;
  flex: 1;
}
